.multiplayer-options-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.multiplayer-options-container .multiplayer-option {
  position: relative;
  width: 500px;
  height: 200px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 4px;
}
.multiplayer-options-container .multiplayer-option:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.multiplayer-options-container .multiplayer-option:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.multiplayer-options-container .multiplayer-option ul {
  z-index: 99;
  position: absolute;
  left: 39px;
  top: 5px;
  list-style-type: none;
}
.multiplayer-options-container .multiplayer-option ul li {
  width: 2px;
  height: 2px;
  border-radius: 2px;
  margin: 6px 0;
  background-color: #e6e5e1;
}
.multiplayer-options-container .multiplayer-option h2 {
  z-index: 99;
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  right: 130px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.multiplayer-options-container .multiplayer-option .fa-arrow-right {
  z-index: 100;
  position: absolute;
  right: 75px;
  bottom: 25px;
  font-size: 40px;
  cursor: pointer;
}
.multiplayer-options-container .multiplayer-option p {
  z-index: 99;
  position: absolute;
  top: 20px;
  right: 70px;
  color: #333;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.multiplayer-options-container .multiplayer-option .pic {
  z-index: 100;
  width: 400px;
  height: 200px;
  background-image: url("https://images.unsplash.com/photo-1525543907410-b2562b6796d6?ixlib=rb-0.3.5&s=9ff8e5e718a6a40cbd0e1471235912f4&auto=format&fit=crop&w=3452&q=80");
  background-size: 100% 100%;
  filter: grayscale(100%);
}
.multiplayer-options-container .multiplayer-option .social {
  position: absolute;
  left: 60px;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 180px;
  height: 64px;
  border-radius: 80px;
}
.multiplayer-options-container .multiplayer-option .social i:nth-of-type(1) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.multiplayer-options-container .multiplayer-option .social i:nth-of-type(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.multiplayer-options-container .multiplayer-option .social i:nth-of-type(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.multiplayer-options-container .multiplayer-option .social i:nth-of-type(4) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.multiplayer-options-container .multiplayer-option:hover i {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.multiplayer-options-container .multiplayer-option button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #da4d1d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
}
.multiplayer-options-container .multiplayer-option button i {
  font-size: 3rem;
}
.multiplayer-options-container .multiplayer-option:hover button {
  transform: scale(16.5);
}
.multiplayer-options-container .multiplayer-option:hover p {
  color: #fff;
}
.multiplayer-options-container .multiplayer-option:hover .pic {
  filter: grayscale(0);
}
.multiplayer-options-container .multiplayer-option2 .pic {
  background-image: url("https://images.unsplash.com/photo-1528785198459-ec50485704c7?ixlib=rb-0.3.5&s=3a2fc3039516555bbb2e9cd2967bd321&auto=format&fit=crop&w=1537&q=80");
}
.multiplayer-options-container .multiplayer-option2 button {
  background-color: #2b26c3;
}
.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

.start-game-button{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-radio
{
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 display: inline-block;
 position: relative;
 background-color: #f1f1f1;
 color: #666;
 top: 10px;
 height: 30px;
 width: 30px;
 border: 0;
 border-radius: 50px;
 cursor: pointer;     
 margin-right: 7px;
 outline: none;
}
.form-radio:checked::before
{
 position: absolute;
 font: 13px/1 'Open Sans', sans-serif;
 left: 11px;
 top: 7px;
 content: '\02143';
 transform: rotate(40deg);
}
.form-radio:hover
{
 background-color: #f7f7f7;
}
.form-radio:checked
{
 background-color: #f1f1f1;
}
.radio-button-label
{
 font: 15px/1.7 'Open Sans', sans-serif;
 color: #333;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 cursor: pointer;
} 


.lobby-header {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.lobby-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lobby-list-item {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

.lobby-list-item:last-child {
  border: none;
}

.lobby-list-item .lobby-list-link {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

.lobby-list-item .lobby-list-link:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.online-game{
  display:none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}