.rules{
	text-align: -webkit-center;
	background: #FCEEB5;
}

.title-help-screen{

	vertical-align: top;
	font-size: 100px;
	margin:auto;
}

.shapes-examples{
	width: 350px;
}

.centered-help-screen{
	text-align: center;
	display: block;
}

.example-card {
	border-radius: 15px;
	border: 3px solid black;
	width: 130px;
	height: 250px;
	/*width: 100px;
	height: 158px; */
} 

.example-card-centered {
	margin: auto;
	display:inline-block
}

.image-container-mini-card{
	height: 100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap:  wrap;
	align-items:center;
}

.past-sets{
	position: absolute;
	right: 50px;
	width:300px; 
	height:600px; 
	border: 3px solid black;
	overflow-y: auto;
}

.mini-card {
	border-radius: 7.5px;
	border: 3px solid black;
	width: 65px;
	height: 125px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	/*width: 100px;
	height: 158px; */
} 

.mini-card-centered {
	/*	display:inline-block*/
}

.past-sets-text{
	text-align: center;
	/*display: block;*/
	padding-bottom: 10px;
	padding-top: 0px;

	font-family:georgia,garamond,serif;
	font-size: 40px;
	font-style: bold;
}

.centered-mini-card-set{
	text-align: center;
	display: flex;
	padding-bottom: 10px;
	padding-top: 10px;
}

.image-container-help-screen{
	height: 100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap:  wrap;
	align-items:center;
}


.hidden{
	visibility:hidden;
}

.center {
	margin: auto;
	width: 500px;
	height:500px;
	margin-top: 0%;
	/*padding: 10px;*/
}

.row{
	display: table;
	width: 100%;
}

.cards_container {
	text-align: center;
}
.card-div{
	padding-bottom: 10px;
	display: table-cell;
}

.hidden{
	visibility:hidden;
}

#parent {
	list-style: none;
	width: 100%;
	height: 90px;
	margin: 0;
	padding: 0;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.column {
	float: left;
	width: 33.33%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.centered{
	margin:0 auto;
	display:block;
}
.centered-text{
	text-align: center;
	display: block;
}


.game{
/*	padding-top: 150px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	
}

.centeredDiv{
	padding-top: 150px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.background-img{

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	/* Full height */
	/*	height: 100%; */
/*
background-image: url("./set_box.png");*/

/* Make image transparent */
opacity: 0.5;
filter: alpha(opacity=50);

/*	z-index: -1;*/

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.mainMenu{
}

.main-menu-button{
	left:0%;
}

.cards{
	
	clear: both;
	width: 640px;
	height: 750px;


	/*margin-top: -375px;*/
}

.card {
	border-radius: 15px;
	border: 3px solid black;
	float: left;
	width: 130px;
	height: 250px;
	/*width: 100px;
	height: 158px; */
} 

.btn-container{
/*	  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;*/
  text-decoration: none;
  display: inline-block;
}

.end-game-style{
	font-family	mily:georgia,garamond,serif;
	font-size: 80px;
	font-style: bold;
	text-align: center;
}

.btn {
	background-color: DodgerBlue;
	border: none;
	color: white;
	/*	padding: 12px 16px;*/
	font-size: 64px;
	cursor: pointer;
	min-width: 550px;
	min-height: 100px;

}

/* Darker background on mouse-over */
.btn:hover {
	background-color: RoyalBlue;
}

.shape{

	display:block;
	margin:auto;

}
.image-container{
	height: 100%;
	width:100%;
	display:flex;
	justify-content: center;
	flex-wrap:  wrap;
	align-items:center;

}
.frame {  
	height: 160px; /*can be anything*/
	width: 160px; /*can be anything*/
	position: relative;
}
.img {  
	max-height: 100%;  
	max-width: 100%; 
	width: auto;
	height: auto;
	position: absolute;  
	top: 0;  
	bottom: 0;  
	left: 0;  
	right: 0;  
	margin: auto;
}

.title-background{
	width:100%;
	display: block;
	overflow: auto;
	background-color: grey;
}

.title-container{
	width:100%;
	display: block;
	overflow: auto;
	margin-bottom: 100px;
}

.title{
	font-family:georgia,garamond,serif;
	font-size:16px;
	font-style:bold;
	text-align: center;
	vertical-align: top;
	display: block;
	font-size: 100px;
	margin:auto;
}

.title-rules{
	
	vertical-align: top;
	font-size: 100px;
	margin:auto;
}

.outline{
	border: 1px solid black;
}

.moveDown{
	position: absolute;
	margin-top: 300px;
}



body {
	font-family: "Lato", sans-serif;
}
.leftAlign {
	text-align: LEFT;
	padding: 10px;
}
.whiteText {
	color: #FFFFFF;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	text-align: LEFT
}
.dropdown:hover .dropdown-content {
	display: block;
}
#map {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
}
.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
}
.button {
	font-size: 1em;
	padding: 10px;
	color: #fff;
	border: 2px solid #06D85F;
	border-radius: 20px/50px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
}
.button:hover {
	background: #06D85F;
}
.overlay {
	position: absolute;
	left: 0px;
	display:inline-block;
	/*	display: none;
		width: 30%;
		height: 70%;
		top: 0;
		bottom: 0;*/
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 2;
		cursor: pointer;
	}
	.text {
		position: absolute;
		top: 0%;
		left: 50%;
		font-size: 25px;
		color: white;
		transform: translate(-50%, 0%);
		-ms-transform: translate(-50%, 0%);
	}

	.close-image{
		position: absolute;
		margin-left:10px;
		margin-top:10px;
	}

	.container {
		perspective: 800px;
	}

	.toggle {
		position: relative;
		border: solid var(--border-width) var(--accent);
		border-radius: var(--border-radius);
		transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
		transform-style: preserve-3d;
		perspective: 800px;
	}

	.showMenuButton{
		left:10px;
		top:10px;
	}

	.row{
		display:flex; 
		flex-direction: row; 
		justify-content: left; 
		align-items: left
		margin-right: 30px;

	}

	.rightSpace{
		margin-right: 50px;
	}

